/* The animation code */
/* 0, 41, 50, 91, 100; n=2, a=5, b=1, t=12*/
:root {
  --pic-url: url("./headphones_ngeselin.png");
}
@keyframes samiAnimation {
    0% {  opacity: 0;  background-size: auto 100% ;}
    45%{opacity: 0;background-size: auto 100% ;}
    47%{opacity: 1;background-size: auto 100% ;}
    91.6%{opacity: 1;background-size: auto 1% ;}
    100% {opacity:0.1; background-size: auto 0.01%;}
  } 

  @keyframes samiAnimation2 {
    0% {  opacity: 1; background-size: auto 100% ;}
    /* 0.1% {  opacity: 1; background-size: auto 100% ;} */
    42%{  opacity: 0.9; background-size: auto 1% ;} 
    50%{  opacity: 0; background-size: auto 0.01%;}
    100% {opacity:0; background-size: auto 0.01%; }
  } 
.sami{
    background-image: var(--pic-url);
    background-origin: content-box;
    width: 100vw;
    height: 100vh;
    animation-name: samiAnimation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    position:absolute; right:0; left:0;margin-left: auto;
    margin-right: auto;
    /* animation-timing-function: ease-in-out; */
    /*animation-timing-function: ease-in-out;*/
    /*animation-direction: alternate;*/
}

.sami2{
  background-image:var(--pic-url);
  background-origin: content-box;
  width: 100vw;
  height: 100vh;
  animation-name: samiAnimation2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  position:absolute; bottom:0; left:0;
  /* animation-timing-function: ease-in-out; */
  /*animation-timing-function: ease-in-out;*/
  /*animation-direction: alternate;*/
}

/* For "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:

0%
a/t*100%
(a+b)/t*100% = 1/n*100%
100%-(b/t*100%)
100%  http://css3.bradshawenterprises.com/cfimg/ */