/* The animation code */
@keyframes samiAnimation {
    0% {    background-size: auto 100% ;}
    100% {background-size: auto 1%; }
    /* 100% {    background-size: auto 100% ;}*/
  } 
.sami{
    background-image:url("./repeatme.gif");
    background-origin: center;
    width: 100vw;
    height: 100vh;
    animation-name: samiAnimation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    /*animation-timing-function: ease-in-out;*/
    animation-direction: alternate;
}